/* body-navbar.sass */


.myNavbar
	background-color: white
	border-width: 0px
	margin-bottom: 0px
	height: 75px
	.container
		.navbar-header
			.navbar-toggle
				float: left
				margin-left: 20px
		.navbar-collapse
			width: 820px
			.nav
				li
					width: 180px
					text-align: center
					&:first-child
						margin-left: 40px
					&:last-child
						width: 200px
					a
						font-family: $font-primary
						font-weight: 700
						font-size: 12px
						padding: 14px 26px
						margin-top: 12px
						font-size: 14px
						color: #666666
						&:hover
							color: #5471CF					