.simbolo
	content: "*"
	color: #FF7300
	font-family: $font-primary
.request
	height: 516px !important
	background-color: white
	.container
		.icon-envelope
			display: block
			margin: 0 auto
		h2
			text-align: center
			font-size: 46px
			color: #666
			font-family: $font-second
		.pull-right
			text-align: right
			margin: 20px 50px 25px 0
		input[type="text"]
			border-radius: 0px
			border-width: 1px
			border-color: #C8C8C8
			box-shadow: none
			width: 300px
			

		span.info
			font-family:  $font-primary
			font-size: 16px
			font-style: italic
			color: #666666
		label
			font-family:  $font-primary
			font-size: 18px
			color: #666
			font-weight: 600
		.btn-blue 
			width: 240px !important
			height: 40px
			font-weight: 600
			font-size: 16px
			letter-spacing: 1.1px
			color: #fff
			margin: 25px auto
			display: block			
