.partners
	height: 580px !important
	background-color: #eeeeee
	.container
		h2
			font-size: 46px
			text-align: center
			font-family: $font-second
			color: #666
			margin-bottom: 100px
		.carousel-control
			background-color: transparent
			background-image: none
			width: 4%			
		img
			display: block
			margin-left: 60px
			float: left
			position: relative
		.carousel
			height: 100px
			.carousel-inner
				.item
					.container						
						padding: 20px 70px
			.left.carousel-control
				left: 50px
				top: 27px
			.right.carousel-control
				top: 27px		
	.sponsort
		padding: 0 100px
		.col-md-12
			padding-left: 50px
		h3
			font-family: $font-second
			font-size: 26px
			color: #666
			text-align: center
			display: block
			margin: 10px 0 40px 0
		p
			font-family: $font-primary
			font-weight: 600
			font-size: 16px
			color: #666