.locations
	height: 500px !important
	background-image: url(../img/locationbg.jpg)
	background-position:center
	background-repeat: no-repeat
	.container
		.icon-marker
			position: relative
			top: 125px
			left: 200px
		.box
			width: 340px
			height: 340px
			display: block
			margin: -45px auto
			background-color: $button-blue
			display: block
			padding-top: 45px
			p
				font-family: $font-primary
				font-weight: 600
				font-size: 18px
				color: #fff
				text-align: center
				line-height: 11px

		.logo-medium
			width: 253px 
			height: 92px
			background-image: url("../img/logo-2_small.png")
			display: block
			margin: auto auto
		.divider-h
			height: 1px
			background-color: #7D93D0
			width: 255px
			display: block
			margin: 50px auto 40px auto
