.hero
	height: 560px !important
	background-color: #7b7b83
	background-image: url("../img/background.png")
	.container
		.logo-small
			height: 40px
			width: 205px
			margin: 0 auto
			display: block
		.logo-big
			height: 246px
			width: 677px
			display: block		
			margin: 30px auto 50px auto
		.description
			padding: 0 60px
			.col-md-6
				p
					text-align: center
					margin-bottom: 2px
					&.p-18
						font-family: $font-primary
						font-size: 18px
						font-weight: 600
						color: #FFFFFF
					&.p-26
						font-family: $font-primary
						font-size: 26px
						font-weight: 700
						color: #FFFFFF
.divider
	background-color: #C8C8C8
	height: 85px
	width: 1px
	display: block
	position: absolute
	left: 50%