/* body-navbar.sass */
.btn-blue
	border: 0px
	border-radius: 0px
	padding: 13px 27px
	background-color: $button-blue
	margin-top: 12px
	font-size: 15px
	font-family: $font-primary
	font-weight: 700

.myNavbar
	background-color: white
	border-width: 0px
	margin-bottom: 0px
	height: 75px
	.container
		.navbar-collapse
			.nav
				li
					width: 215px
					text-align: center
					&:last-child
						width: 275px
					a
						font-family: $font-primary
						font-weight: 700
						font-size: 12px
						padding: 14px 26px
						margin-top: 12px
						font-size: 15px