.hosters
	min-height: 200px !important
	background-color: #7b7b83
	background-image: url("../img/background.png")
	padding-top: 20px
	padding-left: 0px
	padding-right: 0px
	overflow: hidden
	&.md-open
		padding: 0
	.container
		position: relative
		z-index: 600
		.row
			h2
				font-family: $font-second
				font-size: 46px
				color: #FFFFFF
				text-align: center
			p
				font-family: $font-primary
				font-size: 16px
				color: #FFFFFF
				text-align: center						
				.btn-blue 
					width: 240px !important
					height: 40px
					font-weight: 600
					font-size: 16px
					letter-spacing: 1.1px
					color: #fff
					margin-top: 80px
			.sub-title
				margin-bottom: 32px
				margin-top: 24px			
			.col-md-4
				a[rel="hoster_modal"]
					text-decoration: none
				img
					display: block
					margin: 0 auto
				h3
					font-size: 26px
					text-align: center
					color: #FFFFFF
					font-family: $font-second
					font-weight: 600
					margin-bottom: 20px
				p
					line-height: 7.5px
					font-size: 16px	
			#hoster-2
				display: none

.clearfix
	display: block
	float: none
	clear: both

@media screen and (max-width: 991px)
 
@media screen and (max-width: 767px)
	.hosters
		min-height: 200px !important
		padding: 30px 0
		overflow: hidden
		.container
			.row
				#hoster-1, #hoster-2
					// width: 920px
					.col-md-4
						display: block
						float: none	
						width: 100%					
					.p-btn
						// width: 280px
						button
							margin-top: 41px !important

			.hoster
				margin-bottom: 50px
		img.hosterImg
			width: 200px
			max-width: 100%
			margin: 0 auto					
			padding: 0 25px