/* variables.sass */
 @import "//fonts.googleapis.com/css?family=Roboto:400,700,900|Open+Sans:700,600,400"
$primary-color: #333
$button-blue: #5471CF
$button-gray: #9797A6

.font-roboto
	font-family: 'Roboto', sans-serif
.font-opensans
	font-family: 'Open Sans', sans-serif