/* variables.sass */
@import "http://fonts.googleapis.com/css?family=Roboto:400,700,900|Open+Sans:700,600,400"
$primary-color: #676767
$button-blue: #5471CF
$button-gray: #9797A6
$font-primary: 'Open Sans', sans-serif
$font-second: 'Roboto', sans-serif
body
	padding-top: 75px
.jumbotron
	margin-bottom: 0px
.font-roboto
	font-family: 'Roboto', sans-serif
.font-opensans
	font-family: 'Open Sans', sans-serif

.icon
	background: url('../img/sprite.png') no-repeat top left
	display: block
.icon-conversation
	background-position: 0px 0px
	height: 79px
	width: 141px
.icon-envelope
	background-position: -161px 0px
	width: 100px
	height: 67px
.icon-marker
	background-position: -281px 0px
	width: 59px
	height: 78px
.icon-next
	background-position: -360px 0px
	width: 16px
	height: 30px
.icon-prev
	background-position: -396px 0px
	width: 16px
	height: 30px
.icon-close
	background-position: -432px 0px
	width: 34px
	height: 34px
