<div class="jumbotron partners">
  <div class="container">
  	<h2>Thanks to Our Partners & Sponsors</h2>  
  	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="container">      
                <img src="assets/img/logo-partner-brooklyn.png">          
                <img src="assets/img/logo-partner-uber.png" style="top:20px">
                <img src="assets/img/logo-partner-nuchas.png">         
                <img src="assets/img/logo-partner-love.png"  style="top:-21px">         
            </div>
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="icon icon-prev-i"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="icon icon-next-i"></span>
        </a>
    </div>
    <div class="divider-h2"></div>    
  </div>
  <div class="container sponsort">
    <h3>Past Partners & Sponsors</h3>
        <div class="col-md-12">
          <div class="col-md-3">
            <p>Avion Tequila</p>
            <p>Benitos</p>
            <p>Brenne Whisky</p>
            <p>Crunchmaster</p>
          </div>
          <div class="col-md-3">
            <p>Honey Ridge Farms</p>
            <p>Jarisberg</p>
            <p>Steepster</p>
          </div>
          <div class="col-md-3">
            <p>Suerte Tequila</p>
            <p>Suja Juice</p>
            <p>Wild Hibiscus Flower Co.</p>
          </div>
          <div class="col-md-3">
            <p>Whersky</p>
            <p>Woolwich Dairy Inc</p>
            <p>Xx in Health</p>
          </div>
        </div>
  </div>  
</div>