<div id="host" class="jumbotron hosters">
  <div class="container">
  	<div class="row">
  	 <h2>Host</h2>
          <p class="sub-title">Click On Pictures to learn more</p>
        <div class="col-md-4">         
          <img class="" src="static/host-mailet.jpg" alt="" style=" width: 250px; height: 225px;">
          <h3>MAILET LOPEZ</h3>
          <p>Director of Advertiser</p>
          <p>Solutions, Microsoft</p>
        </div>
        <div class="col-md-4">
          <img class="" src="static/host-stephanie.jpg" alt="" style=" width: 250px; height: 225px;">          
          <h3>STEPHANIE LAWRENCE </h3>
          <p>Director of Advertiser</p>
          <p>Solutions, Microsoft</p>
        </div>
        <div class="col-md-4">
          <img class="" src="static/host-julie.jpg" alt="" style=" width: 250px; height: 225px;">          
          <h3>JULIE SILCOX</h3>
          <p>Chief Marketing Officer</p>
          <p>WisdomTree</p>          
        </div>
        <p>
  			<button class="btn btn-primary btn-blue" href="#contact">SEE PREVIOUS HOST</button>
  		</p>
      </div>
  </div>
</div>