<div id="partners" class="jumbotron partners">
  <div class="container">
  	<h2>Thanks to Our Partners & Sponsors</h2>  
  	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="container">      
                <a href="#"><img src="assets/img/logo-partner-brooklyn.png"></a>        
                <a href="#"><img src="assets/img/logo-partner-uber.png" style="top:20px"></a>
                <a href="#"><img src="assets/img/logo-partner-nuchas.png"></a>
                <a href="#"><img src="assets/img/logo-partner-love.png"  style="top:-21px"></a>
            </div>
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="icon icon-prev-i"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="icon icon-next-i"></span>
        </a>
    </div>
    <div class="divider-h2"></div>    
  </div>
  <div class="container sponsort">
    <h3>Past Partners & Sponsors</h3>
        <div class="col-md-12">
          <div class="col-md-3">
            <p><a href="#">Avion Tequila</a></p>
            <p><a href="#">Benitos</a></p>
            <p><a href="#">Brenne Whisky</a></p>
            <p><a href="#">Crunchmaster</a></p>
          </div>
          <div class="col-md-3">
            <p><a href="#">Honey Ridge Farms</a></p>
            <p><a href="#">Jarisberg</a></p>
            <p><a href="#">Steepster</a></p>
          </div>
          <div class="col-md-3">
            <p><a href="#">Suerte Tequila</a></p>
            <p><a href="#">Suja Juice</a></p>
            <p><a href="#">Wild Hibiscus Flower Co.</a></p>
          </div>
          <div class="col-md-3">
            <p><a href="#">Whersky</a></p>
            <p><a href="#">Woolwich Dairy Inc</a></p>
            <p><a href="#">Xx in Health</a></p>
          </div>
        </div>
  </div>  
</div>