<div class="navbar navbar-default navbar-fixed-top myNavbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#about">HOSTS</a></li>
            <li><a href="#contact">LOCATION</a></li>           
            <li><a href="#contact">SPONSORS</a></li>           
            <li><button class="btn btn-primary btn-blue" href="#contact">REQUEST INVITE</button></li>
          </ul>         
        </div><!--/.nav-collapse -->
      </div>
</div>