<div class="jumbotron hero">
  <div class="container">
  	<img class="logo-small" src="assets/img/logo-1.png">
  	<img class="logo-big" src="assets/img/logo-2.png">
  	<div class="description row">
  		<div class="divider"></div>
  		<div class="col-md-6 col-sm-12">
  			<p class="p-18">WHEN</p>
  			<p class="p-26">NOVIEMBER 19th, 2014</p>
  			<p class="p-18">6:00 - 9:00 PM</p>
  		</div>
  		<div class="col-md-6 col-sm-12">
			<p class="p-18">WHERE</p>  			
			<p class="p-26">NEW YORK, NY</p>  			
			<p class="p-18">640 West 28th Street, 6th Floor</p>  			
  		</div>
  	</div>
  </div>
</div>