<div class="jumbotron request">
  <div class="container">    
  	<span class="icon icon-envelope"></span>
  	<h2>Request an Invite</h2>
  	<div class="pull-right col-md-4"> <span class="simbolo">*</span>  <span class="info">= indicates requiered field </span></div>
  	<div class="col-md-12">
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="firts-name">Firts Name <span class="simbolo">*</span></label>
			    <input type="text" class="form-control" id="firts-name" placeholder="Digite su Firts Name">
			</div>
  		</div>  		
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="second-name">Second Name <span class="simbolo">*</span></label>
			    <input type="text" class="form-control" id="second-name" placeholder="Digite su Second Name">
			</div>
  		</div>  		
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="firts-name">Email <span class="simbolo">*</span></label>
			    <input type="text" class="form-control" id="firts-name" placeholder="Digite su Firts Name">
			</div>
  		</div>  		
  	</div>
  	<div class="col-md-12">
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="firts-name">Company <span class="simbolo">*</span></label>
			    <input type="text" class="form-control" id="firts-name" placeholder="Digite su Firts Name">
			</div>
  		</div>  		
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="second-name">Job Title <span class="simbolo">*</span></label>
			    <input type="text" class="form-control" id="second-name" placeholder="Digite su Second Name">
			</div>
  		</div>  		  			
  	</div>  	
  	<div class="col-md-12">
  		<p class="clearfix">
  			<button class="btn btn-primary btn-blue" href="#contact">SUBMIT</button>
  		</p>
  	</div>
  </div>
</div>