<div class="navbar navbar-default navbar-fixed-top myNavbar" role="navigation">
  <div class="container">
    <div class="navbar-header pull-left">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>          
    </div>
    <div class="navbar-collapse collapse pull-left" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li><a onclick="$('#about').animatescroll({padding:75});" href="#about">ABOUT</a></li>
        <li><a onclick="$('#host').animatescroll({padding:90});" href="#host">HOSTS</a></li>
        <li><a onclick="$('#location').animatescroll({padding:75});" href="#location">LOCATION</a></li>           
        <li><a onclick="$('#partners').animatescroll({padding:75});"  href="#sponsors">SPONSORS</a></li>           
      </ul>         
    </div><!--/.nav-collapse -->
    <div class="pull-left">
      <button  onclick="$('#request').animatescroll({padding:75});"  class="btn btn-primary btn-blue" >REQUEST INVITE</button>       
    </div>
    
  </div>
</div>