<div class="jumbotron hosters">

  <div class="container">
  	<div class="row">
  	 <h2>Host</h2>
          <p class="sub-title">Click On Pictures to learn more</p>
          <div class="col-md-4">         
            <img class="" src="static/picture-mailet.jpg" alt="" style=" width: 250px; height: 225px;">
            <h3>MAILET LOPEZ</h3>
            <p>Director of Advertiser</p>
            <p>Solutions, Microsoft</p>
          </div>
          <div class="col-md-4">
            <img class="" src="static/picture-stephanie.jpg" alt="" style=" width: 250px; height: 225px;">          
            <h3>STEPHANIE LAWRENCE </h3>
            <p>Director of Advertiser</p>
            <p>Solutions, Microsoft</p>
          </div>
          <div class="col-md-4">
            <img class="" src="static/picture-julie.jpg" alt="" style=" width: 250px; height: 225px;">          
            <h3>JULIE SILCOX</h3>
            <p>Chief Marketing Officer</p>
            <p>WisdomTree</p>          
          </div>
          <p>
      			<button class="btn btn-primary btn-blue" href="#contact">SEE PREVIOUS HOST</button>
      		</p>          
      </div>      
  </div> 
  <div class="myModal">
    <div class="container">
      <span class="pull-right icon icon-close"></span>
        <div class="col-md-12">
          <div class="col-md-8">
            <h2>MAILEt LOPEZ</h2> 
            <p>Squeaky Wheel Media, Co-Founder</p>
            <p>IHadCancer, Founder/CEO</p>
            <div class="divider"></div>
            <p>Mailet is the co-founder of <em>Squeaky Wheel Media</em>, an award-winnig interactive digital agency, and the founder
            of <em>IHadCancer.com</em>, a life-saving social network for cancer fighters,
            suvivors and supporters. She has garnered major industry
            recognition, including the "Trendsetter of the Year" award from
            The American Advertising Federation and the "Entrepreneur of the Year" award from The Stevie Awards.
            </p>
          </div>
          <div class="col-md-4">
            
          </div>
        </div>
    </div>
  </div>
</div>