<div id="request" class="jumbotron request">
  <div class="container">    
  	<span class="icon icon-envelope"></span>
  	<h2>Request an Invite</h2>
  	<div class="pull-right col-md-12 hidden-ms hidden-xs hidden-sm"><span class="symbol">*</span>  <span class="info">= indicates requiered field </span></div>
  	<div class="col-md-12 col-ms-6">
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="first-name">First Name <span class="symbol">*</span></label>
			    <input type="text" class="form-control" id="first-name" placeholder="Input Your First Name">
			</div>
  		</div>  		
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="second-name">Second Name <span class="symbol">*</span></label>
			    <input type="text" class="form-control" id="second-name" placeholder="Input Your Second Name">
			</div>
  		</div>  		
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="first-name">Email <span class="symbol">*</span></label>
			    <input type="text" class="form-control" id="first-name" placeholder="Input Your Email Address">
			</div>
  		</div>  		
  	</div>
  	<div class="col-md-12 col-ms-6">
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="first-name">Company <span class="symbol">*</span></label>
			    <input type="text" class="form-control" id="first-name" placeholder="Input Your Company Name">
			</div>
  		</div>  		
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="second-name">Job Title <span class="symbol">*</span></label>
			    <input type="text" class="form-control" id="second-name" placeholder="Input Your Job Title">
			</div>
  		</div>  		  			
  	</div>  	
  	<div class="col-md-12 col-ms-12">
  		<p class="clearfix">
  			<button class="btn btn-primary btn-blue" href="#contact">SUBMIT</button>
  		</p>
  	</div>
  </div>
</div>